.date{
    margin: 0 0 15px;
    color: darken($grey, 35%);
}

.seperator{
    list-style: none;
    margin: 40px 0;
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0;
      padding: 0 5px;
      color: rgba($blue, .5);
    }
}