.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    @include component-margin;
    &.home{
        min-height: 800px;
        margin: 0;
        &:after{
            position: absolute;
            content: '';
            background: #fff;
            width: 150%;
            height: 350px;
            transform:rotate(-10deg);
            left: -100px;
            right: 0;
            bottom: -150px;
            z-index: 0;
        }
        .hero-content{
            @include fadeIn;
            margin: 0 auto 130px;
            img{
                margin: 0;
                &:first-of-type{
                    display: none;
                }
            }
            h1{
                text-transform: uppercase;
            }
            span{
                display: block;
                font-size: 2rem;
                margin-top: 5px;
                text-transform: none;
            }
        }
    }
    &:before{
        background: rgba($blue, 0.85);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .hero-content{
        max-width: 700px;
        margin: 80px auto 0;
        h1{
            text-transform: none;
        }
        h3{
            color: #fff;
            margin: 0;
        }
        p{
            margin: 0;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
}

@include media-breakpoint-down(sm){
    .hero{
        min-height: 250px;
        &.home{
            min-height: 700px;
            .hero-content{
                margin: 0 auto 170px;
                h1{
                    font-size: 2.6rem;
                }
                img{
                    &:first-of-type{
                        display: initial;
                        margin-bottom: 20px;
                    }
                    &:last-of-type{
                        display: none;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xs){
    .hero .hero-content{
        margin: 110px auto 0;
        h1{
            font-size: 2.2rem;
        }
    }
}