.logo{
    width: 110px;
    margin: 15px 0 0;
    display: inline-block;
    position: relative;
    z-index: 2;
    a{
        &:active,
        &:focus{
            outline: 0;
        }
    }
}

@include media-breakpoint-down(sm){
    .logo{
        margin: 0;
        width: 75px;
    }
}