.header{
    padding: 1rem 0 1.5rem 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3rem;
}

.title{
    color: $colour;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item{
    color: #999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    &:hover{
        color: #666;
    }
}

.active{
    color: #333;
}


@include media-breakpoint-down(xl){}

@include media-breakpoint-down(lg){}

@include media-breakpoint-down(md){}

@include media-breakpoint-down(sm){}

@include media-breakpoint-down(xs){}