@import "~bootstrap/scss/bootstrap";

body{
    margin: 10px;
    @include font-reg;
    font-size: 1rem;
    &:before{
        @include app-transition(all, 0.5s, ease);
        content: '';
        border: 15px solid transparent;
        position: fixed;
    }
    &.navActive{
        &:before{
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: -5px;
            background: rgba($blue, 0.7);
            z-index: 2;
            border-color: #fff;
            overflow: hidden;
        }
        header{
            position: fixed;
            left: 0;
            right: 0;
            top: 40px;
        }
        section,
        footer{
            filter: blur(.4rem);
        }
    }
}

h1, h2, h3, h4, h5, h6, strong{
    @include font-bold;
    text-transform: uppercase;
}

h1, h2, h3{
    text-transform: uppercase;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.7rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}

a{
    @include app-transition(all, 0.5s, ease);
    &:active, &:focus{
        outline: 0;
    }
}

.icon{
    max-width: 120px;
    margin: 0 0 10px;
}

@include media-breakpoint-down(sm){
    body{
        margin: 0;
        &:before{
            border: 0;
        }
        &.navActive header{
            top: 30px;
        }
    }
}


@include media-breakpoint-down(sm){
    html{
        font-size: 15px;
    }
}