@import "~bootstrap/scss/bootstrap";

// fix animation z-index issue
.tl-wrapper.tl-wrapper--mount.tl-wrapper-status--entered{
    z-index: auto !important;
    transform: none !important;
}

body{
    margin: 10px;
    @include font-reg;
    font-size: 1rem;
    &:before{
        @include app-transition(all, 0.5s, ease);
        content: '';
        border: 15px solid transparent;
        position: fixed;
    }
    &.navActive{
        &:before{
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: -5px;
            background: rgba($blue, 0.7);
            z-index: 2;
            border-color: #fff;
            overflow: hidden;
        }
        header{
            position: fixed;
            left: 0;
            right: 0;
            top: 40px;
        }
        .consent-wrapper,
        section,
        footer{
            filter: blur(.4rem);
        }
    }
    &.stickyHeader header{
        position: fixed;
        background: linear-gradient(135deg, rgba($blue,1) 39%,rgba($blue_dk,1) 100%);
        top: 0;
        @include slideInDown;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.20);
        .col-12{
            background: linear-gradient(135deg, rgba(97,117,139,1) 0%,rgba(97,117,139,0) 100%);
            &:before{
                content: '';
                width: 125px;
                height: 125px;
                border-radius: 110px;
                background: $blue;
                display: block;
                position: absolute;
                z-index: -19;
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.20);
            }
        }
        div > a{ //logo
            display: block;
            border-radius: 110px;
            width: 125px;
            height: 125px;
            margin: -15px 0 -55px;
            border: 15px solid transparent;
            img{
                position: absolute;
                display: block;
                width: 96px;
            }
        }
        .navbar.navbar-expand-lg{
            top: 14px;
        }
    }
}

h1, h2, h3, h4, h5, h6, strong{
    @include font-bold;
}

h1{
    font-size: 2.6rem;
    text-transform: uppercase;
}

h2{
    font-size: 1.7rem;
    color: $blue;
}

h3{
    font-size: 1.5rem;
    color: $blue;
}

p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    .col-lg-8 &{
        &:last-of-type{
            margin-bottom: 1.45rem;
        }
    }
    &.larger-text{
        font-size: 1.25rem;
    }
}

a{
    @include app-transition(all, 0.5s, ease);
    color: $orange;
}

a, button{
    &:active, &:focus{
        outline: 0;
    }
}

.icon{
    max-width: 120px;
    margin-bottom: 12px;
}

.alert{
    padding: 20px;
    color: #a72734;
    border: 1px dashed #a72734;
    text-align: center;
    background: #f8d7da;
}

.button-text-link{
    border: 0;
    padding: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: $orange;
    &:hover{
        color: darken($orange, 5%);
    }
}

@include media-breakpoint-down(md){
    body.stickyHeader header .navbar-light .navbar-toggler{
        top: 8px;
    }
}

@include media-breakpoint-down(sm){
    html{
        font-size: 15.5px;
    }
    body{
        margin: 0;
        &:before{
            border: 0;
        }
        &.navActive header{
            top: 30px;
        }
        &.stickyHeader{
            &.navActive header{
                @include app-transition(all, 0.5s, ease);
                background: none;
                animation: none;
                box-shadow: none;
                .col-12{
                    background: none;
                }
                img{ //logo
                    width: auto;
                }
            }
            header{
                border-top: 0;
                top: 0;
                left: 0;
                right: 0;
                padding: 10px 0 5px;
                .navbar-light .navbar-toggler{
                    top: -3px;
                }
                .col-12{
                    background: none;
                    &:before{
                        display: none;
                    }
                }
                div > a{
                    display: block;
                    width: 55px;
                    height: 55px;
                    margin: 0;
                    border: 0;
                    img{
                        width: 55px;
                    }
                }
            }
        }
    }
}